#headerDiv {
width: 400px;
height: 100px;
position: fixed;
}

#birdhouseImage {
  float: left;
}

.videoNameClass {
  color: black;
  padding: 2px;
  width: 200px;
}

#videoPlayerDiv {
  float: left;
  position: fixed;
  top: 100px;
  left: 0px;
}

#photosList {
  left: 520px;
  position: absolute;
  top: 110px;
}

.birdPhotoClass {
  width: 100px;
  margin: 2px;
}


video {
  padding: 10px;
}
