.videoNameClass {
  color: black;
  padding: 2px;
  width: 200px;
}

#videoPlayerDiv {
  float: left;
  position: fixed;
  top: 0px;
  left: 0px;
}

#photosList {
  left: 520px;
  position: absolute;
}

.birdPhotoClass {
  width: 100px;
  margin: 2px;
}


video {
  padding: 10px;
}
